@use "../utilities/mixin";

#extra {
    h1 {
        text-align: center;
        font-size: 2.5em;
    }

    h3 {
        margin-top: 10px;
    }

    margin: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .prox {
        margin-top: 10px;
    }

    ul {
        align-self: flex-start;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 385px;
    }
}