@charset "UTF-8";
/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: #ffffff !important;
  /* coloca de color blanco las palabras para navegar entre las distintas páginas */
}

header {
  margin: 0px 0px 80px 0px;
  /*separa la navegación del resto de la página*/
}

body {
  background-image: url(../../assets/img/fondo.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  font-family: "Open Sans", sans-serif;
  padding: 0 200px 0 200px;
}

h1 {
  margin: 0px 0px 40px 0px;
  /*Separa título del resto de información*/
}

footer {
  text-align: center;
  /* centra el texto */
  font-size: 1rem;
  /* tamaño más chico */
  color: #333;
  /* color del texto */
  padding: 20px 0;
  /* espacio arriba y abajo */
  margin-top: 40px;
  /* separa del contenido */
  bottom: 0;
}

.presentacion {
  display: flex;
  /* Activa flexbox */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  margin: 80px;
  /* Elimina márgenes del body */
}

.presentacion .perfil {
  display: flex;
  /* Pone los elementos uno al lado del otro */
  align-items: center;
  /* Centra verticalmente */
  gap: 20px;
  /* Espacio entre la foto y el texto */
}

.presentacion .foto {
  width: 180px;
  /* Tamaño de la foto */
  height: 180px;
  border-radius: 10px;
  /* Bordes redondeados */
  -o-object-fit: cover;
  object-fit: cover;
  /* Ajusta la imagen sin deformarla */
}

.info h1 {
  margin: 0;
}

.info p {
  margin: 5px 0 0;
  font-size: 16px;
}

/*frase debajo de la foto y el nombre*/
.frase {
  display: flex;
  justify-content: center;
  margin: 40px;
  font-size: 2em;
}

#perfil {
  font-size: 1.5rem;
}

/*habilidades blandas*/
.contenedor-habilidades {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 30px 0px 50px 0px;
}

.contenedor-habilidades .listado1 {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.contenedor-habilidades .listado2 {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.informacion {
  font-size: 1.5rem;
}

#formacion h1 {
  text-align: center;
  font-size: 2.5em;
}

.grilla {
  display: grid;
  height: 50vh;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: 200px 200px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.coder,
.siglo21,
.utn,
.bachiller,
.dalmacio,
.sagrada {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* vertical */
  align-items: center;
  /* horizontal */
  text-align: center;
  /* para centrar líneas de texto */
  background-color: rgba(180, 180, 180, 0.87);
  padding: 5px;
  text-decoration: none;
  border-radius: 4px;
  transition: transform 0.5s;
}

.coder:hover,
.siglo21:hover,
.utn:hover,
.bachiller:hover,
.dalmacio:hover,
.sagrada:hover {
  transform: scale(1.1);
}

/*ajuste logo Siglo 21*/
.siglo21 img {
  width: 200px;
}

/*ajuste logo Sagrada Familia*/
.sagrada img {
  width: 110px;
}

/*ajuste logo Coder*/
.coder img {
  margin-top: 40px;
  margin-bottom: 70px;
  width: 150px;
}

/*ajusto logo Bachiller*/
.bachiller img {
  width: 200px;
}

.repositornav,
.sistemasnav,
.administracionnav {
  display: inline-block;
  background-color: #2624ad;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
}

#repositor,
#sistemas,
#administracion {
  background-color: #f4e9e4;
  border: 2px solid #d2b9a3;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  margin: 20px auto;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

.trabajos {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  justify-content: center;
}

.repositornav {
  transition: transform 0.5s;
}

.repositornav:hover {
  transform: scale(1.1);
}

.sistemasnav {
  transition: transform 0.5s;
}

.sistemasnav:hover {
  transform: scale(1.1);
}

.administracionnav {
  transition: transform 0.5s;
}

.administracionnav:hover {
  transform: scale(1.1);
}

/*Marco para guardar dentro cada experiencia*/
#repositor {
  /*info unilever*/
}

#repositor .info-unilever {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 200px;
}

#repositor .logo-unilever {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 180px;
}

/*info Agencia*/
#sistemas .info-sistemas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
}

#sistemas .logo-sistemas {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
}

/*info Mamanu*/
#administracion .info-administracion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 110px;
}

#administracion .logo-mamanu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
}

#extra {
  margin: 0px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#extra h1 {
  text-align: center;
  font-size: 2.5em;
}

#extra h3 {
  margin-top: 10px;
}

#extra .prox {
  margin-top: 10px;
}

#extra ul {
  align-self: flex-start;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 385px;
}

.contacto1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #e8dede;
  padding: 30px;
  border-radius: 10px;
  gap: 40px;
}

/* Formulario*/
#formularios {
  width: 60%;
}

.informacion {
  display: flex;
  flex-direction: column;
}

.informacion label {
  font-weight: bold;
  margin-top: 10px;
}

.informacion input,
.informacion textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ce7070;
  border-radius: 5px;
}

.informacion textarea {
  height: 100px;
  resize: none;
}

.informacion button {
  width: 100px;
  margin-top: 10px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

#personal {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}

#personal p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  main {
    padding-left: 30px;
    padding-right: 30px;
  }

  /*Index*/
  .contenedor-habilidades {
    width: auto;
  }

  /*Formación*/
  .grilla {
    grid-template-columns: repeat(2, 350px);
    /*únicamente traemos lo que queremos modificar*/
    grid-template-rows: repeat(3, 265px);
    height: auto;
  }

  /*ajuste logo Siglo 21*/
  .siglo21 img {
    width: 150px;
    margin-bottom: 30px;
  }

  /*ajuste logo UTN*/
  .utn img {
    width: 100px;
    margin-bottom: 30px;
  }

  /*ajuste logo Dalmacio*/
  .dalmacio img {
    width: 90px;
    margin-bottom: 30px;
  }

  .sagrada img {
    width: 100px;
    margin-bottom: 30px;
  }

  /*Experiencia*/
  #repositor .info-unilever {
    flex-direction: column;
    /*texto arriba, logo abajo*/
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  #repositor .logo-unilever {
    height: auto;
    width: 150px;
    /*ajusta el tamaño en tablet*/
    justify-content: center;
    align-items: center;
  }

  #repositor .texto-unilever {
    width: 100%;
  }

  #sistemas .info-sistemas {
    flex-direction: column;
    /*texto arriba, logo abajo*/
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  #sistemas .logo-sistemas {
    height: auto;
    width: 200px;
    /*ajusta el tamaño en tablet*/
    justify-content: center;
    align-items: center;
  }

  #sistemas .texto-sistemas {
    width: 100%;
  }

  #administracion .info-administracion {
    flex-direction: column;
    /*texto arriba, logo abajo*/
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  #administracion .logo-administracion {
    height: auto;
    width: 150px;
    /*ajusta el tamaño en tablet*/
    justify-content: center;
    align-items: center;
  }

  #administracion .texto-administracion {
    width: 100%;
  }

  /*Extra*/
  #extra ul {
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  main {
    padding-right: 20px;
    padding-left: 20px;
  }

  /*Index*/
  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .perfil img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .listado1,
  .listado2 {
    font-size: 1.2rem;
  }

  /*Formación*/
  .grilla {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 200px);
    font-size: small;
    height: auto;
  }

  /*ajuste logo coder*/
  .coder img {
    width: 150px;
  }

  /*ajuste logo siglo*/
  .siglo21 img {
    width: 130px;
  }

  /*ajuste logo UTN*/
  .utn img {
    width: 80px;
  }

  /*ajuste logo bachiller*/
  .bachiller img {
    width: 180px;
  }

  /*ajuste logo dalmacio*/
  .dalmacio img {
    width: 80px;
  }

  /*ajuste logo sagrada*/
  .sagrada img {
    width: 90px;
    margin-top: 10px;
  }

  #repositor {
    width: 90%;
  }

  .logo-unilever {
    width: 100px;
  }

  #sistemas {
    width: 90%;
  }

  #administracion {
    width: 90%;
  }

  .logo-mamanu {
    width: 150px;
  }

  /*Extra*/
  #extra .extra1 .prox {
    width: 430px;
  }

  #extra .prox {
    width: 430px;
  }

  /*Contacto*/
  .contacto1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  #personal {
    width: auto;
    height: auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
  }

  .informacion input,
  .informacion textarea {
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */