%cuadro {
    display: inline-block;
    background-color: #2624ad;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
}

%cuadro-exp {
    background-color: #f4e9e4;
    border: 2px solid #d2b9a3;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: 20px auto;
}